/* GENERAL COMPONENTS  */

.heading-secondary, .heading-primary{
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #333;
  }
  .heading-primary {
  
    line-height: 1.05;
    font-size: 5.2rem;
    margin-bottom: 3.2rem;
  }
  .heading-secondary{
    font-size: 4.4rem;
    line-height: 1.2;
    color: #333;
    margin-bottom: 5.2rem;
    
  }
  .heading-tertiary{
    font-size: 3.0rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  .subheading{
    display: block;
    font-size:2rem ;
  font-weight: 700;
  color: #cf7e11;
  font-size: 1.6rem;  
  text-decoration: uppercase;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.25px;
  }
  
  .btn:link,
  .btn:visited {
    display: inline-block;
    /* background-color: #e67e22; */
    color: #fff;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .btn--full:link,
  .btn--full:visited {
    background-color: #e67e22;
  }
  .btn--full:hover,
  .btn--full:active {
    background-color: #cf7e11;
  }
  .btn--outline:visited,
  .btn--outline:link {
    background-color: #fff;
    color: #555;
  }
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
  }

  .link:link,.link:visited{
 display: inline-block;
    color:#e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s ;
  }
.link:hover,.link:active{
  color:#cf7e11;
  border-bottom: 1px solid transparent;
}

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited{
    color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #cf7e11;
    
  }


  /* GENERAL GRID SECTION / */

  .container{
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  
  .grid{
    display: grid;
    column-gap: 6.4rem;
    row-gap:9.6rem;
    /* margin-bottom: 9.6rem; */
  }
  .grid--2-cols{
    grid-template-columns: repeat(2,1fr);
  
  }
  .grid--3-cols{
    grid-template-columns: repeat(3,1fr);
  
  }
  .grid--4-cols{
    grid-template-columns: repeat(4,1fr);

  }
  /* .grid:last-child{
    margin-bottom: 0;
  } */
  .grid:not(:last-child){
    margin-bottom: 9.6rem;

  }
  .grid--center-v{
    align-items: center;
  }
  .margin-right-sm{
    margin-right: 1.6rem;
  }
  .margin-bottom-md{
    margin-bottom: 4.8rem !important;
  }
  .center-text{
    text-align: center;
  }
  .list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .item-list{
    list-style: none;
  }
  .list-item{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .list-icon{
    width: 3rem;
    height: 3rem;
    color: #e67e22;
  }
  
  strong{
    font-weight: 500;
  }