/* TYPOGRAPHY  */
/* font sizes 10/1214/18/20  */
/* -Font weights */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;

}
body {
  font-family: "Rubik";
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* HEADER  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 2.2rem;
}
/* Navigation  */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf7e11;
  cursor: pointer;
}

/* MOBILE STYLES  */
.btn-mobile-nav{
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
/* <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon> */
/* <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon> */

.icon-mobile-nav[name="close-outline"]{
  display: none;
}


/* HERO SECTION  */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.test {
  background-color: red;
  padding: 4rem;
  /* width: 1000px; */
  max-width: 500rem;
  color: white;
  font-size: 2rem;
  /* 1 rem =16px  */
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  /* background-color: #e67e22; */
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf7e11;
}
.btn--outline:visited,
.btn--outline:link {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
.hero-image {
  width: 100%;
}
.margin-right-sm {
  margin-right: 1.6rem;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #ffff !important;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 60%;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}
/* how it works section  */
.section-how {
  padding: 9.6px 0;
  /* background-color: orangered; */
}

.section-how {
  padding: 9.6rem 0;
}
/* ------------------------FEATURED SECTION----------------- */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* .section-how div div{
  padding: 100px;
  font-size: 50px;
  background-color: #333;
} */
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  /* height: 100px; */
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  z-index: -2;
  background-color: #fdf2e9;
  padding-bottom: 60%;
}
.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;

  z-index: -1;
}

.step-img {
  width: 35%;
}

/* ----------------MEAL SECTION  */
.section-meals {
  padding: 9.6rem 0;
}
.tags {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* background-color: #51cf66; */
  color: #333;
  border-radius: 100px;
}
.tag--vegetaranian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translate(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.006);
}
.meal-tags {
  margin-bottom: 1.2rem;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.meal-img {
  width: 100%;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #cf7e11;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
/* diet section  */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.item-list {
  list-style: none;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.section-testimonials {
  /* padding: 9.6rem 0; */
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: #fdf2e9;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonial-image {
  width: 6.4rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
/* gallery image */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  /* overflow: hidden; */
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img:hover {
  transform: scale(1.1);
}

/* pricing section  */
.section-pricing {
  padding: 9.6rem;
}
.pricing-plan {
  border-radius: 11px;
  width: 75%;
  overflow: hidden;
}
.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;

  padding: 4.6rem;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
}
.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf7e11;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 1.6;
}
.plan-price {
  color: #333;
  font-weight: 600;
  font-size: 7.4rem;
  margin-bottom: 1.6;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  line-height: 1.6rem;
  font-size: 1.6rem;
  color: #6f6f6f;
}
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
/* omni food feature */
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  /* box-sizing: border-box; */
  margin-bottom: 3.2rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* aside style  */
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* CTA section  */
.section-cta{
  padding: 4.8rem 0 12.8rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* temp  */
  height: 50rem;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2e1907;
}
.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg");
  background-size: cover;
}

/* form style  */
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1ppx 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem #fdf2e9be;
}
/* FOOTER */
.logo-col{
  display: flex;
  flex-direction: column;
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.social-links{
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon{
  height: 2.4rem;
  width: 2.4rem;
}
.copyright{
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer-logo{
  display: block;
  margin-bottom: 3.2rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.contacts{
  line-height: 1.6;
  font-size: 1.6rem;
  font-style: normal;
}
.address{
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:2.4rem
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}
.footer-link:hover,
.footer-link:active{
  color: #555;
} 

.sticky{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
}
